<!doctype html>
<html lang="en">
<meta charset="utf-8">

<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">

  {% assign lvl = page.url | append:'X' | split:'/' | size %}
  {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

  <link rel="stylesheet" href="{{ relative }}assets/uswds-2.5.0/css/uswds.css">

  <meta name="robots" content="noindex">
</head>

<body>
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic usa-header--megamenu">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo" id="basic-mega-logo">
          <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">USDS Accelerator</a></em>
        </div>
        <button class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button class="usa-nav__close"><img src="{{ relative }}assets/uswds-2.5.0/img/close.svg" alt="close"></button>
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <a class="usa-nav__link" href="/team"><span>Team</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="main-content">
    {{ content }}
  </main>
  <footer class="usa-footer">
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
            <div class="mobile-lg:grid-col-auto">
              <img class="usa-footer__logo-img" src="{{ relative }}assets/uswds-2.5.0/img/logo-img.png" alt="">
            </div>
            <div class="mobile-lg:grid-col-auto">
              <h3 class="usa-footer__logo-heading">U.S. Digital Service</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="{{ relative }}assets/uswds-2.5.0/js/uswds.js"></script>

</body>

</html>
